<!DOCTYPE html>

<html>
  <head>
    <title>Data Administration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application","vendor/jquery.anystretch.min", 'data-turbolinks-track': 'reload'%>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

  </head>

  <body>
  <div class="navbar clearfix">
    <div class="container">
      <a class="navbar-brand" href="/">Data System</a>
        <ul class="nav left">
          <!--当前有用户登录，并且该用户为管理员，显示关于、用户管理、帖子管理-->
          <% if @current_user && @current_user.role == 1 %>
            <li><%= link_to "关于","#" %></li>
            <li><%= link_to "用户管理","#" %></li>
            <li><%= link_to "帖子管理", "#"%></li>
            <!--当前有用户登录，并且该用户为超级管理员，显示关于、管理员账户激活-->
          <% elsif @current_user && @current_user.role == 2 %>
<!--            <li><%#= link_to "关于","#" %></li>-->
            <li><%= link_to "Admin Account", '/account_active' %></li>
            <!--当前有用户登录，并且该用户为普通用户，显示关于-->
          <% elsif @current_user && @current_user.role == 0 %>
            <li><%= link_to "about","#" %></li>
          <% end %>
        </ul>
        <ul class="nav right">
          <!--当前有用户登录，右侧显示该用户的相关信息-->
          <% if @current_user %>
            <li><%= link_to "Current:"+@current_user.name,"#" %></li>
            <li><%= link_to "Role:"+Account::ROLE[@current_user.role],"#"%></li>
            <li><%= link_to "Logout","/logout",method:'delete' %></li>
            <!--当前没有用户登录，右侧显示注册、登录链接-->
          <% else %>
            <li><%= link_to "login","/login" %></li>
            <li><%= link_to "register","/signup" %></li>
          <% end %>
        </ul>
    </div>
  </div>

    <%= yield %>


  <% if flash.notice %>
<!--    <div class="notice"><%#= flash.notice %></div>-->
  <% end %>
  <div class="footer">
    <div>
      <p class="align"> Copy Right© John, 2020</p>
    </div>
  </div>

  <script>
      $('.home-banner').anystretch();

      var hideNotice = function(){
          $(".notice").fadeOut("slow");
      }
      setTimeout(hideNotice, 2000);
  </script>

  </body>
</html>